[Desktop Entry]
Name=Pulsar Theme Applier
Comment=Aplicador de temas Pulsar
Exec=pulsar.macostheme
Icon=pulsar.macostheme
Terminal=false
Type=Application
Categories=Utility;System;
